In [171]:
import MySQLdb

In [183]:
db = MySQLdb.connect(host="v490721-infocenter-rds-dev.cbuqm0ljpfgq.us-east-1.rds.amazonaws.com", 
                     port = 1521,# your host, usually localhost
                     user="infocenteradmin",         # your username
                     passwd="infocenter123",  # your password
                     db="eiclegal")

In [197]:
target = db.cursor()
target.execute("TRUNCATE TABLE TIME_MTRX")

0L

In [198]:
import csv

In [199]:
with open('Data/TyM.csv','rb') as csvfile:
    reader = csv.reader(csvfile, delimiter = ',')
    firstLine = True
    for row in reader:
        if firstLine:
            firstLine = False
            continue
        target.execute ("Insert into TIME_MTRX(Work_Area_Level_2_0,Work_Area,GL_Account_Number,vWBS_Element,Work_Area_Path,Matter_Type,Responsible_Professional,WBS_Code,WBS_Description,Work_Area_1,Work_Area_Level_2_1,Therapeutic_Area,Matter_Type_1,Region,Country,Matter_Name,Matter_No,Product_Program,Invoice_Processing_Date,Invoice_Status_Date,Company_and_Contact_Name,Invoice_No,System_ID,Invoice_Status,Invoice_Start_Date,Invoice_End_Date,Invoice_Date,Year,Quarter,Year_Quarter,Fin_Dep_Dy_WBS_Prefix,Fin_Dep_Dy_Cost_Center,Cost_Center_Name,Vendor_Quarter_For_Matter,Inv_Alloc_Net_Fees,Matter_Status,Law_Firm_Category) VALUES ('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s')" %(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11],row[12],row[13],row[14],row[15],row[16],row[17],row[18],row[19],row[20],row[21],row[22],row[23],row[24],row[25],row[26],row[27],row[28],row[29],row[30],row[31],row[32],row[33],row[34],row[35],row[36]))
    db.commit()
    print "Done"

Corporate Governance/Securities  9999999 Treasurer-NJ (9990703) 9999 : ABCXYZ : 2017 : Q1  $9,999.00  Open
Corporate Governance/Securities  9999999 Treasurer-NJ (9990703) 9999 : ABCXYZ : 2017 : Q1  $(9,999.00) Open
Corporate Governance/Securities  9999999 Treasurer-NJ (9990703) 9999 : ABCXYZ : 2017 : Q1  $9,999.00  Open
Corporate Governance/Securities  9999999 Treasurer-NJ (9990703) 9999 : ABCXYZ : 2017 : Q1  $9,999.00  Open Specialty
Done

In [ ]:
tmx =